.side-drawer {
  background-color: #f2f2f2;
  height: 100vh;
  width: 70%;
  top: 0;
  left: -100%;
  box-shadow: 0px 0px 10px 0px #000000;
  position: absolute;
  animation: slide-in 0.3s ease-in-out;
  animation-fill-mode: forwards;
  z-index: 100;
}

@keyframes slide-in {
  100% {
    left: 0;
  }
}
@keyframes slide-out {
  0% {
    left: 0%
  }
  100% {
    left: -100%
  }

}

.slide-exit-active {
  animation: slide-out 0.3s ease-in-out;
  animation-fill-mode: forwards;

}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  fill: rgb(0, 0, 0);
  padding: 10px 10px 0 0;
}


.mobile-menu ul {
  display: block;
  padding: 1rem;
}

.mobile-menu li {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  padding: 2rem;
}

.active-mobile {
  background-color: #dbdbdb;
  width: 20%;
}