.ShahCoals-products {
  text-align: center;
  .popular-products {
    margin: 3rem;
    font-family: "Montserrat", sans-serif;
    font-size: calc(1rem + 2vw);
  }
  h1 {
    color: #3d3d3d;
  }
  button {
    margin: 1.5rem auto;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    /* styles */
    position: relative;
    background: #000000;
    background-size: 200% 100%;
    padding: 1rem 1.5rem;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background: #eeeeee;
      color: rgb(0, 0, 0);
    }
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 1rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);

  img {
    width: 100%;
    height: 250px;
  }
  h4,p {
    font-family: "Montserrat", sans-serif;
  }
}

.pure-table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

.pure-table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

.pure-table td,
.pure-table th {
  border-left: 1px solid #cbcbcb;/*  inner column border */
  border-width: 0 0 0 1px;
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
  margin: 0;
  overflow: visible; /*to make ths where the title is really long work*/
  padding: 0.5em 1em; /* cell padding */
}

.pure-table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}
